.vehile__item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
}

.vehile__item-info span i {
  color: #f9a826;
  font-size: 1.1rem;
}

.review__item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: rgb(156, 9, 240);
  padding: 10px;
  margin-top: 6px;
}

.review__item-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.review__item-btn:hover {
  background-color: rgb(110, 0, 173);
}
.review__btn-details {
  background: #6f43c5;
  border-radius: 0px 4px 4px 0px;
}

.review__btn-rent {
  border-radius: 4px 0px 0px 4px;
}

.review__item-content h4 {
  font-size: 1.8rem;
}

.review__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .vehile__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .vehile__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .vehile__item-info {
    flex-wrap: wrap;
  }

  .vehile__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .vehile__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .vehile__item h4 {
    font-size: 1rem;
  }

  .vehile__item h6 {
    font-size: 0.9rem;
  }

  .vehile__item-info span {
    font-size: 0.7rem;
  }

  .vehile__item-info span i {
    font-size: 0.9rem;
  }

  .vehile__item-btn {
    font-size: 0.8rem;
  }
}
